.order {
  border: 1px solid black;
  display: inline-block;
  background-color: #FFF;
  min-height: 12em;
}

.ingredient-list {
  list-style-type: none;
  padding: 0;
  width: 150px;
}

.order-section {
  border-top: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  padding: 1em;
}